@using PagedList.Mvc
@using PagedList


@model IPagedList<hospitalApp.Models.Data.doctor>

@{
    ViewBag.Title = "قائمة الأطباء";
}

<h2>عرض قائمة</h2>

<p>
    @Html.ActionLink("اضافة طبيب", "Create", null, new { @class = " btn btn-info " })

</p>

<div class="pull-left">
    @using (Html.BeginForm("GetDoctors", "Doctor", FormMethod.Get))
    {
        <div class="row">
            <div class="form-group">
                <div class="col-md-push-10 " style="direction:rtl">

                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "inputss form-control" })
                </div>
                <br />
                <div class="col-md-push-10">
                    <input type="submit" value="بحث بالكلمات المفتاحية" class="btn btn-info btn-def  btn-sm form-control" />
                </div>
            </div>
        </div>
    }
</div>





<table class="table  table-responsive alert-success ">
    <tr>
        <th>
            @Html.DisplayName("اسم الطبيب")
        </th>
        <th>
            @Html.DisplayName("التخصص")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.doctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.speclisht)
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>


<div class="justify-content-center ">


    صفحة @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) من @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("GetDoctors",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

</div>
